* {
  margin: 0;
  padding: 0;
}
.App {
  scrollbar-color: #d0d0d0 #f5f5f5;
  background-color: red;
}
/* custom scrollbar - starts */

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
/* ::-webkit-scrollbar-track {
	background: #ffffff;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}
